[Desktop Entry]
Name=Vesktop Proxy
Comment=Vesktop through local proxy
Exec=/usr/bin/vesktop --proxy-server=socks5://127.0.0.1:2080 --force-device-scale-factor=1 %U
Icon=vesktop
Terminal=false
Type=Application
Categories=Network;InstantMessaging;Chat;
StartupNotify=true
