[Unit]
Description=Create and configure main user
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -lc 'id {{ username }} >/dev/null 2>&1 || useradd -m -G {{ user.groups | join(',') }} -s {{ user.shell }} {{ username }}; usermod -aG {{ user.groups | join(',') }} -s {{ user.shell }} {{ username }} || true'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
