# Managed by archctl

_flatpak_user_exports="$HOME/.local/share/flatpak/exports/share"
_flatpak_system_exports="/var/lib/flatpak/exports/share"

case ":${XDG_DATA_DIRS:-}:" in
  *":${_flatpak_user_exports}:"*) ;;
  *)
    XDG_DATA_DIRS="${_flatpak_user_exports}:${XDG_DATA_DIRS:-/usr/local/share:/usr/share}"
    ;;
esac

case ":${XDG_DATA_DIRS:-}:" in
  *":${_flatpak_system_exports}:"*) ;;
  *)
    XDG_DATA_DIRS="${_flatpak_system_exports}:${XDG_DATA_DIRS}"
    ;;
esac

export XDG_DATA_DIRS
