XUI_PANEL_PORT="{{ xui.panel_port }}"
XUI_WEB_BASE_PATH="{{ xui.web_base_path }}"
XUI_USERNAME="{{ xui.username }}"
XUI_PASSWORD="{{ xui.password }}"
XUI_LISTEN_IP="{{ xui.listen_ip }}"
XUI_FORCE_UPDATE="{{ xui.force_update }}"
