kernel.split_lock_mitigate = 0
vm.swappiness = 10
vm.vfs_cache_pressure = 50
vm.dirty_bytes = 268435456
vm.max_map_count = 16777216
vm.dirty_background_bytes = 67108864
vm.dirty_writeback_centisecs = 1500
kernel.nmi_watchdog = 0
kernel.unprivileged_userns_clone = 1
kernel.printk = 3 3 3 3
kernel.kptr_restrict = 2
kernel.kexec_load_disabled = 1
