[Desktop Entry]
Name=Neovim
Exec=foot -e nvim %F
Icon=nvim
Type=Application
Categories=Utility;TextEditor;
MimeType=text/plain;text/x-python;application/json;text/javascript;text/html;text/css;text/markdown;
