# Managed by archctl

Port 22
Protocol 2
PasswordAuthentication no
KbdInteractiveAuthentication no
PermitRootLogin {{ ssh.permit_root_login }}
PubkeyAuthentication yes
X11Forwarding no
AllowUsers {{ username }}
ClientAliveInterval 30
ClientAliveCountMax 3
