# Managed by archctl

[Service]
Restart=always
RestartSec=3

LimitNOFILE=1048576
LimitNPROC=65535

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
ReadWritePaths=/usr/local/etc/xray /var/log/xray
