# Managed by archctl

animation = matrix
bigclock = false
blank_box = true
clear_password = false
hide_borders = false
hide_key_hints = false
load = true
margin_box_h = 2
margin_box_v = 1
numlock = true
save = true
term_reset_cmd = /usr/bin/tput reset
