[Unit]
Description=Autostart desktop applications for Arch Hyprland
PartOf=graphical-session.target
After=graphical-session.target kanshi.service quickshell.service swaybg-daemon.service

[Service]
Type=oneshot
ExecStart=%h/.local/bin/arch-autostart-apps

[Install]
WantedBy=arch-hyprland-session.target
