[Unit]
Description=NetworkManager Applet
PartOf=arch-hyprland-session.target graphical-session.target
After=graphical-session.target quickshell.service

[Service]
Type=simple
ExecStart=/usr/bin/nm-applet --indicator
Restart=on-failure
RestartSec=2

[Install]
WantedBy=arch-hyprland-session.target
