[Unit]
Description=KDE Polkit Authentication Agent
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/lib/polkit-kde-authentication-agent-1
Restart=on-failure
RestartSec=2

[Install]
WantedBy=arch-hyprland-session.target
