XRAY_PUBLIC_HOST="{{ xray.public_host }}"

XRAY_PORT="{{ xray.port }}"
XRAY_SNI="{{ xray.sni }}"

XRAY_UUID="{{ xray.uuid }}"
XRAY_PRIVATE_KEY="{{ xray.private_key }}"
XRAY_SHORT_ID="{{ xray.short_id }}"
XRAY_XHTTP_PATH="{{ xray.xhttp_path }}"

XRAY_XHTTP_MODE="{{ xray.xhttp_mode }}"
XRAY_FINGERPRINT="{{ xray.fingerprint }}"
XRAY_CLIENT_NAME="{{ xray.client_name }}"
XRAY_FORCE_UPDATE="{{ xray.force_update }}"
